@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.container {
  max-width: 990px;
  width: 100%;
}
.container1200 {
  max-width: 1200px;
}
