$green: #00a69a;
$blue: #2777b1;
$dense-green: #303c42;
$white: #fff;
$magenta: #d3537e;
$orange: #f87e77;
$red: #f11c2b;
$black: #212121;
$medium-gray: #d9d9d9;
$dark-gray: #7b7b7b;
$yellow: #e6ba63;
